@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Nomina | </title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/css")
    <link rel="icon" href="Imagenes/favicon-194x194.ico"/>
</head>
<body class="login" style="background: rgba(75, 3, 234, 0.8);">

    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper" >
            <div class="animate form login_form" id="form_id">
                <section class="login_content">
                        <h1>eFactoy Nómina</h1>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {// esto es lo mismo que crear las etiquetas form, que si intentas acceder a otra pagina te redirecciona al login y una vez accedas por el login te guarda la url a la que intentaste acceder y entra pa ya
                       // @Html.AntiForgeryToken()// permite verificar que la persona que se esta loguiando sea la misma que va a resivir la informacion
                       // @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-input", placeholder = HttpUtility.HtmlDecode("&#xf007; Email"), style = "font-family:Arial, FontAwesome" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                         <div>
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control login-input", placeholder = HttpUtility.HtmlDecode("&#xf13e; Password"), style = "font-family:Arial, FontAwesome" })
                           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" id="btn"/>
                            <!--<a class="reset_pass" href="#">Lost your password?</a>-->
                        </div>
                    }
                        <div class="clearfix"></div>
                        <div class="separator">
                           <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>©2016 eFactory</p>
                            </div>
                        </div>
                </section>
            </div>
            
        </div>
    </div>
</body>
<style>
    #form_id{
   background: rgba(0, 0, 64, 0.4);
   border-radius: 10px;
   padding: 10%;
   color: white;
  margin: auto;
    }
    #btn{
        margin: auto;

    }

</style>
</html>


@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="col-md-10">
         @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register a new user?", "Register")
                    </p>
                    <p>
                        @Html.ActionLink("Forget your password?", "ForgotPassword")
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }